@import url(./fonts.css);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: aliceblue;
  font-family: "Futura";
}

.header-wrap {
  display: flex;
  justify-content: center;
}

.icon_heare {
  position: absolute;
  margin-top: 50px;
}

.img-k1 {
  margin-left: 870px;
}

.img-k2 {
  position: absolute;
  margin-left: 801px;
}
.text1 {
  margin-top: -120px;

  text-align: center;

  font-size: 30px;
}

.text2 {
  margin-top: 150px;
  margin-left: 370px;
  font-size: 30px;
}
.text3 {
  margin-left: 370px;
  margin-top: 20px;
  font-size: 60px;
}
.k4 {
  position: absolute;
  top: 300px;
  right: 400px;
}
.text4 {
  margin-left: 370px;
  margin-top: 0px;
  font-size: 60px;

  background: linear-gradient(
    95.98deg,
    #a169f7 1.6%,
    #00aaff 24.24%,
    #ff6163 50.71%,
    #97cf26 68.48%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.k3 {
  margin-top: -400px;
  margin-left: 1525px;
}
.d3element {
  position: absolute;
  top: 105px;
  right: 50px;
}

.text5 {
  font-size: 25px;

  margin-top: -150px;
  margin-left: 370px;
}
.btn1 {
  width: 200px;
  height: 50px;
  font-size: 15px;

  border-radius: 20px;
  border: none;

  margin-top: 50px;
  margin-left: 370px;

  color: white;
  background-color: #5956e9;
}
.line1 {
  position: absolute;
  left: 0;
  z-index: -1;
}

.mishka {
  position: absolute;
  left: 900px;
  top: 1000px;
}
.moneta {
  margin-top: 400px;
  margin-left: 520px;
}

.monbg {
  position: absolute;
  right: 572px;
  top: 1211px;
}
.monbezf {
  position: absolute;
  right: 597px;
  top: 1230px;
}
.text6 {
  margin-left: -800px;
  margin-top: -175px;
  font-size: 30px;
  text-align: center;
  color: white;
}
.line2 {
  position: absolute;
  top: 1400px;
  left: 600px;
  z-index: -1;
}
.text7 {
  margin-left: 790px;
  margin-top: 200px;

  font-size: 50px;
}
.text8 {
  font-size: 50px;
  margin-left: 400px;
  margin-top: 100px;
}
.text9 {
  font-weight: 100;
  font-size: 25px;

  margin-left: 400px;
}
.ruka {
  margin-top: -500px;
  margin-left: 1150px;
}
.k5 {
  margin-left: 60px;
}
.text10 {
  margin-left: 1100px;
  margin-top: 50px;

  font-size: 50px;
}
.text11 {
  margin-left: 1100px;

  font-size: 25px;
  font-weight: 100;
}

.number8 {
  margin-top: -250px;
  margin-left: 400px;
}
.text12 {
  font-size: 60px;

  margin-left: 400px;
  margin-top: 100px;
}
.text13 {
  font-weight: 100;
  font-size: 25px;

  margin-left: 400px;
}
.operator {
  margin-top: -500px;
  margin-left: 1050px;
}
.text14 {
  margin-left: 1100px;
  margin-top: 200px;

  font-size: 50px;
}
.text15 {
  margin-left: 1100px;

  font-size: 25px;
  font-weight: 100;
}
.kalendar {
  margin-top: -250px;
  margin-left: 400px;
}
.text16 {
  font-size: 60px;

  margin-left: 400px;
  margin-top: 200px;
}
.text17 {
  font-weight: 100;
  font-size: 25px;

  margin-left: 400px;
}
.zametka {
  margin-top: -250px;
  margin-left: 1050px;
}
.k6 {
  margin-top: -1200px;
  margin-left: 50px;
}
.k7 {
  margin-top: 400px;
  margin-left: 250px;
}
.k8 {
  margin-top: 50px;
  margin-left: 750px;
}
.line3 {
  position: absolute;
  right: 0;
  top: 2050px;
  z-index: -1;
}
.cardbg {
  margin-top: 300px;
  margin-left: 130px;
}

.cardbg2 {
  position: absolute;
  top: 4213px;
  left: 130px;
}
.cards {
  margin-top: -500px;
  margin-left: 400px;
}
.price1 {
  margin-top: -250px;
  font-size: 55px;
  margin-left: 510px;
  color: #fab8c4;
}
.price2 {
  margin-top: -70px;
  margin-left: 870px;
  font-size: 55px;
  color: #fab8c4;
}
.price3 {
  color: white;
  margin-top: -70px;
  margin-left: 1240px;
  font-size: 55px;
}
.price4 {
  margin-left: 540px;
  font-size: 40px;
  color: white;
}
.price5 {
  margin-top: -50px;
  margin-left: 900px;
  font-size: 40px;
  color: white;
}
.price6 {
  margin-top: -50px;
  margin-left: 1290px;
  font-size: 40px;
  color: white;
}
.lorem1 {
  font-size: 20px;
  margin-left: 450px;
  color: rgb(112, 109, 109);
}
.lorme2 {
  font-size: 20px;
  margin-left: 820px;
  margin-top: -50px;
  color: rgb(112, 109, 109);
}
.lorem3 {
  font-size: 20px;
  margin-left: 1190px;
  margin-top: -50px;
  color: rgb(164, 156, 156);
}
.text18 {
  position: absolute;
  left: 850px;
  top: 4320px;

  font-size: 65px;
}
.text19 {
  position: absolute;
  left: 780px;
  top: 4890px;

  font-size: 40px;
}
.text20 {
  position: absolute;
  left: 790px;
  top: 4950px;

  font-size: 50px;
  color: #5956e9;
}
.text21 {
  margin-top: 400px;

  text-align: center;
  font-size: 40px;
  font-weight: 100;
}
.text22 {
  font-size: 50px;
  text-align: center;
}
.buisnessbg {
  margin-top: 300px;
  margin-left: 1085px;
}
.buisness {
  margin-left: 950px;
  margin-top: -900px;
}
/* .text23 {
  font-size: 30px;
  position: absolute;
  font-weight: 100;
  left: 1000px;
  text-align: center;
} */
.text23 {
  margin-top: -900px;
  margin-left: 500px;
  font-weight: 100;
  font-size: 30px;
  text-align: center;
}
.k9 {
  position: absolute;
  top: 5500px;
  right: 620px;
}
.loginbg {
  margin-left: 330px;
  margin-top: -250px;
}
.login {
  top: 5670px;
  position: absolute;
  z-index: 1;
  left: 380px;
}
.password {
  top: 5800px;
  position: absolute;
  left: 380px;
  z-index: 1;
}
.text24 {
  margin-top: -500px;
  margin-left: 460px;
  font-size: 40px;
}
.text25 {
  margin-top: 30px;
  margin-left: 380px;
  font-size: 30px;
}
.text26 {
  margin-top: 10px;
  margin-left: 390px;
  font-size: 20px;
  color: rgb(164, 162, 162);
  font-weight: 100;
}
.text27 {
  margin-top: 50px;
  margin-left: 380px;
  font-size: 30px;
}
.text28 {
  margin-top: 20px;
  margin-left: 390px;
  font-size: 20px;
  color: rgb(164, 162, 162);
  font-weight: 100;
}
.remember {
  margin-left: 380px;
  margin-top: 50px;
}
.text29 {
  margin-top: -30px;
  margin-left: 410px;
  font-size: 20px;
  color: rgb(164, 162, 162);
  font-weight: 100;
}
.btn2 {
  color: white;
  width: 420px;
  height: 50px;
  margin-left: 380px;
  margin-top: 30px;
  border-radius: 20px;
  font-size: 20px;
  background-color: #5956e9;
  border: none;
}

.circle {
  position: absolute;
}

.k10 {
  margin-top: 153px;
  left: 250px;
}
.k11 {
  left: 0;
  margin-top: 293px;
}
.k12 {
  left: 0;
  top: 5600px;
}
.k13 {
  left: 500px;
  top: 5700px;
  z-index: -1;
}
.logo {
  position: absolute;
  margin-top: 400px;
  left: 400px;
}
